<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Hi {{name}}!</span>
  <button type="button" class="btn btn-danger ml-auto">Sign Out</button>
</nav>

<div class="container-fluid">
  <h1 class="p-5 text-center">Liver Enzymes Monitor</h1>
  <div class="container mx-auto">
    <div class="row pb-5">
      <a type="button" class="btn btn-info ml-auto" [href]="downloadJsonHref" download="openMHealth.json">Export
        openMHealth Schema</a>
    </div>
    <div class="chart-wrapper">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
      </canvas>
    </div>

    <div class="row pt-5 text-center">
      <div class="col">
        <h6>Alkaline Phosphatase (Recommended Range [40-129 U/L])</h6>
      </div>
      <div class="col">
        <div *ngIf="lastALPValue >= 40 && lastALPValue < 130; else dangerALP" class="bg-success text-white">
          <h6>Your Currnet ALP Value: {{lastALPValue}} {{ lastALPUnit }} </h6>
        </div>
        <ng-template #dangerALP>
          <div class="bg-danger text-white">
            <h6>Your Currnet ALP Value: {{lastALPValue}} {{ lastALPUnit }} </h6>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <h6>Aspartate Aminotransferase (Recommended Range [8-48 U/L])</h6>
      </div>
      <div class="col">
        <div *ngIf="lastASTValue >=8 && lastASTValue < 48; else dangerAST" class="bg-success text-white">
          <h6>Your Currnet AST Value: {{ lastASTValue }}</h6>
        </div>
        <ng-template #dangerAST>
          <div class="bg-danger text-white">
            <h6>Your Currnet AST Value: {{lastASTValue}} {{ lastASTUnit }} </h6>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <h6>Alanine Aminotransferase (Recommended Range [7-55 U/L])</h6>
      </div>
      <div class="col">
        <div *ngIf="lastALTValue >=7 && lastALTValue < 55; else dangerALT" class="bg-success text-white">
          <h6>Your Currnet AST Value: {{ lastALTValue }} {{lastALTUnit}}</h6>
        </div>
        <ng-template #dangerALT>
          <div class="bg-danger text-white">
            <h6>Your Currnet ALT Value: {{lastALTValue}} {{ lastALTUnit }} </h6>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <h6>Bilirubin (Recommended Range [0.1-1.2 mg/dL])</h6>
      </div>
      <div class="col">
        <div *ngIf="lastBilirubinValue >=0.1 && lastBilirubinValue < 1.2; else dangerBilirubin"
          class="bg-success text-white">
          <h6>Your Currnet Bilirubin Value: {{ lastBilirubinValue }} {{lastBilirubinUnit}}</h6>
        </div>
        <ng-template #dangerBilirubin>
          <div class="bg-danger text-white">
            <h6>Your Currnet Bilirubin Value: {{ lastBilirubinValue }} {{lastBilirubinUnit}} </h6>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row pt-5 pb-2">
      <h6 class="pt-2 pl-2">Please click one of the following to see the recommendation (choose recommendation view first):</h6>
      <button class="btn btn-info m-1" (click)="patientView()">Patient View</button>
      <button class="btn btn-secondary m-1" (click)="clinicianView()">Clinician View</button>
    </div>

    <div class="row">
      <h6 class="pt-2 pl-2">Please click here to view positive recommendation:</h6>
      <button class="btn btn-info m-1" (click)="positiveRecommendation()">Positive Recomm.</button>
      <button class="btn btn-info m-1" (click)="originalRecommendation()">Original Recomm.</button>
    </div>

    <div *ngIf="patient" class="row py-3 text-center">
      <div class="col">
        <h3>Recommendation: </h3>
      </div>
      <div class="col">
        <div *ngIf="indanger;else displayOk" class="bg-danger text-white">
          <h4>Please contact your doctor as soon as possible!</h4>
        </div>
        <ng-template #displayOk>
          <div class="bg-success text-white">
            <h4>Your enzymes looks in range & Please keep exercising and keep eating healthy!! </h4>
          </div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="clinician" class="row py-5 text-center">
      <div class="col">
        <h3>Recommendation: </h3>
      </div>
      <div class="col">
        <div *ngIf="indanger;else displayOk" class="bg-danger text-white">
          <h4>Please contact the patient as soon as possible for further tests. <br> Patient contact number: {{
            patientPhoneNumber}}</h4>
        </div>
        <ng-template #displayOk>
          <div class="bg-success text-white">
            <h4>Patient's enzymes looks in range!! </h4>
          </div>
        </ng-template>
      </div>
    </div>



  </div>
</div>